<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4">
  <display-name>Authentication and Authorization</display-name>
  <env-entry>  	
     <env-entry-name>APP_NAME</env-entry-name>  	
     <env-entry-value>authentication</env-entry-value>  	
     <env-entry-type>java.lang.String</env-entry-type>  
  </env-entry>    
  <env-entry>  	
	   <env-entry-name>APP_ROOT_DIR_NAME</env-entry-name>  	
	   <env-entry-value>authentication</env-entry-value>  	
	   <env-entry-type>java.lang.String</env-entry-type>  
  </env-entry>   
  <env-entry>  	
     <env-entry-name>authenticator</env-entry-name>  	
     <env-entry-value>com.api.security.DatabaseAuthenticator</env-entry-value>  	
     <env-entry-type>java.lang.String</env-entry-type>  
  </env-entry>
  <env-entry>  	
     <env-entry-name>DB_CONNECTION_FACTORY</env-entry-name>  	
     <env-entry-value>com.api.db.JndiDatabaseConnectionImpl</env-entry-value>  	
     <env-entry-type>java.lang.String</env-entry-type>  
  </env-entry>
  <listener>
    <listener-class>
      com.util.SessionListener
    </listener-class>
  </listener>
  <servlet>
    <servlet-name>sysconfig</servlet-name>
    <servlet-class>com.controller.stateless.SystemConfigurator</servlet-class>
    <load-on-startup>5</load-on-startup>
  </servlet>
  <servlet>
	    <servlet-name>unsecureRequestProcessor</servlet-name>
	    <servlet-class>com.controller.stateless.JavaResponseController</servlet-class>
  </servlet>
  <servlet>
	  <servlet-name>reportProcessor</servlet-name>
	  <servlet-class>com.controller.stateless.ReportingServlet</servlet-class>
        <init-param>
	      <param-name>ConfigFileKey</param-name>
	      <param-value>web_app_mapping</param-value>
	    </init-param>	  
  </servlet>  
  <servlet>
	    <servlet-name>dataStreamProcessor</servlet-name>
	    <servlet-class>com.controller.stateless.XmlResponseController</servlet-class>
  </servlet>      
  <servlet-mapping>
    <servlet-name>sysconfig</servlet-name>
    <url-pattern>/sysconfig</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
	    <servlet-name>unsecureRequestProcessor</servlet-name>
	    <url-pattern>/unsecureRequestProcessor/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
	    <servlet-name>dataStreamProcessor</servlet-name>
	    <url-pattern>/dataStreamProcessor/*</url-pattern>
  </servlet-mapping>         
  <servlet-mapping>
    <servlet-name>reportProcessor</servlet-name>
    <url-pattern>/reportProcessor/*</url-pattern>
  </servlet-mapping>    
  <welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.html</welcome-file>
  </welcome-file-list>
</web-app>