<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" 
	xmlns="http://java.sun.com/xml/ns/j2ee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <display-name>RMT2 Business Systems Corp.</display-name>
  <env-entry>  	
     <env-entry-name>APP_NAME</env-entry-name>  	
     <env-entry-value>rmt2</env-entry-value>  	
     <env-entry-type>java.lang.String</env-entry-type>  
  </env-entry>      
  <env-entry>  	
	   <env-entry-name>APP_ROOT_DIR_NAME</env-entry-name>  	
	   <env-entry-value>default</env-entry-value>  	
	   <env-entry-type>java.lang.String</env-entry-type>  
  </env-entry>   
  <env-entry>  	
     <env-entry-name>authenticator</env-entry-name>  	
     <env-entry-value>com.security.Rmt2Authenticator</env-entry-value>  	
     <env-entry-type>java.lang.String</env-entry-type>  
  </env-entry>
  <env-entry>  	
     <env-entry-name>DB_CONNECTION_FACTORY</env-entry-name>  	
     <env-entry-value>com.api.db.JndiDatabaseConnectionImpl</env-entry-value>  	
     <env-entry-type>java.lang.String</env-entry-type>  
  </env-entry>
  <listener>
    <listener-class>
      com.util.SessionListener
    </listener-class>
  </listener>
  <servlet>
    <servlet-name>sysconfig</servlet-name>
    <servlet-class>com.controller.stateless.SystemConfigurator</servlet-class>
    <load-on-startup>5</load-on-startup>
  </servlet>
  <servlet>
	  <servlet-name>reportProcessor</servlet-name>
	  <servlet-class>com.controller.stateless.ReportingServlet</servlet-class>
  </servlet>
  <servlet>
	    <servlet-name>unsecureRequestProcessor</servlet-name>
	    <servlet-class>com.controller.stateless.JavaResponseController</servlet-class>
  </servlet> 
  <servlet>
	    <servlet-name>clientSrvcController</servlet-name>
	    <servlet-class>com.controller.stateless.HttpRemoteServicesController</servlet-class>
  </servlet>
  <servlet>
	    <servlet-name>sessionBypassProcessor</servlet-name>
	    <servlet-class>com.servlet.SessionBypassServlet</servlet-class>
  </servlet>        
  <servlet-mapping>
    <servlet-name>sysconfig</servlet-name>
    <url-pattern>/sysconfig</url-pattern>
  </servlet-mapping>  
  <servlet-mapping>
    <servlet-name>reportProcessor</servlet-name>
    <url-pattern>/reportProcessor/*</url-pattern>
  </servlet-mapping>  
  <servlet-mapping>
	    <servlet-name>unsecureRequestProcessor</servlet-name>
	    <url-pattern>/unsecureRequestProcessor/*</url-pattern>
  </servlet-mapping>    
  <servlet-mapping>
	    <servlet-name>clientSrvcController</servlet-name>
	    <url-pattern>/clientSrvcController/*</url-pattern>
  </servlet-mapping>     
  <servlet-mapping>
	    <servlet-name>sessionBypassProcessor</servlet-name>
	    <url-pattern>/sessionBypassProcessor/*</url-pattern>
  </servlet-mapping>
</web-app>
