<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>multimedia</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<env-entry>  	
     <env-entry-name>APP_NAME</env-entry-name>  	
     <env-entry-value>multimedia</env-entry-value>  	
     <env-entry-type>java.lang.String</env-entry-type>  
  </env-entry>       
  <env-entry>  	
	   <env-entry-name>APP_ROOT_DIR_NAME</env-entry-name>  	
	   <env-entry-value>multimedia</env-entry-value>  	
	   <env-entry-type>java.lang.String</env-entry-type>  
  </env-entry>    
  <env-entry>  	
     <env-entry-name>DB_CONNECTION_FACTORY</env-entry-name>  	
     <env-entry-value>com.api.db.JndiDatabaseConnectionImpl</env-entry-value>  	
     <env-entry-type>java.lang.String</env-entry-type>  
  </env-entry>    
  <listener>
    <listener-class>
      com.util.SessionListener
    </listener-class>
  </listener>
  <servlet>
	    <servlet-name>unsecureRequestProcessor</servlet-name>
	    <servlet-class>com.controller.stateless.JavaResponseController</servlet-class>
  </servlet> 
	<servlet>
    <servlet-name>sysconfig</servlet-name>
    <servlet-class>com.controller.stateless.SystemConfigurator</servlet-class>
    <load-on-startup>5</load-on-startup>
  </servlet> 
	<servlet>
    <servlet-name>ipcThreadServlet</servlet-name>
    <servlet-class>com.api.filehandler.InboundFileServlet</servlet-class>
    <load-on-startup>6</load-on-startup>
  </servlet>     
  <servlet-mapping>
    <servlet-name>sysconfig</servlet-name>
    <url-pattern>/sysconfig</url-pattern>
  </servlet-mapping>  
  <servlet-mapping>
	    <servlet-name>unsecureRequestProcessor</servlet-name>
	    <url-pattern>/unsecureRequestProcessor/*</url-pattern>
  </servlet-mapping>    
  <servlet-mapping>
    <servlet-name>ipcThreadServlet</servlet-name>
    <url-pattern>/ipcThreadServlet</url-pattern>
  </servlet-mapping> 
</web-app>
